.button {
  background-color: $color-red;
  border-radius: 5rem;
  color: #fff;
  padding: 1.5rem;
  width: 75%;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  transition: transform .1s;
  outline: none;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(.95);
  }


  &--inactive {
    background-color: $color-off-white;
    color: rgba($color-red, .6);
    cursor: initial;

    &:hover {
      transform: none;
    }
    &:active {
      transform: none;
    }

  }
}