$color-white: #FFF;
$color-red: #F62F5E;
$color-gray-light: #E1E1E1;
$color-gray-light-2: #B4B4B4;
$color-gray-med: #979797;
$color-black: #2E2E2E;
$color-off-white: #F7F7F7;

$color-orange: orange;
$color-yellow: yellow;
$color-green: green;
$color-blue: #6EB2FB;
$color-indigo: indigo;
$color-purple: purple;